<form id='myForm'>
    <input type='text' name="original_url">
    <input type="submit" value="Shorten">
</form>
<div id="shortcode"></div>

<br/>
<div>
<a href="<%= url('/') %>">&larr; See all</a>
</div>

<script type="text/javascript">
  $(function() {
    $('#myForm').submit(function() {
    $.post('/new', $("#myForm").serialize(), function(data){
      console.log(data);
      var shortened = 'http://127.0.0.1:9393/' + data;
      var $url = $('<a>', {href: shortened}).append(shortened);
      var $shortcode = $('<div>').append("Your Code:").append($url);
      $('#shortcode').append($shortcode.hide().fadeIn());
      });
    return false;
    });
  });
</script>

<!-- serialize in the post request creates special parsing behavior
the 'name' value is used downstream when using parsed info-->
